name: Terraform Destroy

on:
    workflow_dispatch:
      inputs:
        stack:
          description: 'Target stack to destroy'
          required: true
          type: choice
          options:
            - ecr
        double_confirm:
          description: 'Type "DESTROY" to confirm'
          required: true
          default: 'NO'

permissions:
    contents: read
    id-token: write

jobs:
    terraform_destroy:
        name: Terraform Destroy
        runs-on: ubuntu-latest
        env:
            AWS_REGION: us-east-1
            STATE_BUCKET: ${{ vars.TF_STATE_BUCKET }}
        if: github.event.inputs.double_confirm == 'DESTROY'

        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Configure AWS Credentials
              uses:  aws-actions/configure-aws-credentials@v4
              with:
                role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
                role-session-name: GitHubActionsSession
                aws-region: ${{ env.AWS_REGION }}

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v2
              with:
                terraform_version: 1.3.2

            - name: Terraform Init
              working-directory: ./stacks/${{ github.event.inputs.stack }}
              run: terraform init -backend-config="bucket=${{ env.STATE_BUCKET }}"

            - name: Terraform Validate
              working-directory: ./stacks/${{ github.event.inputs.stack }}
              run: terraform validate

            - name: Terraform Destroy
              working-directory: ./stacks/${{ github.event.inputs.stack }}
              run: terraform destroy -auto-approve